<div class="checkout__item">
    <span>{{ customer.first_name }} {{ customer.last_name }}</span>
    <span>{{ customer.email }}</span>
    <span>{{ customer.mobile_country_code }}{{ customer.mobile_number }}</span>
</div>
