<form class="checkout__delivery-information__form" id="delivery-information-form" method="post" role="form" novalidate>
    <div class="form__error-message form__error-message--delivery-not-saved hide" id="error-message-delivery-not-saved">
        {% trans %}delivery_information.needs_to_be_saved{% endtrans %}
    </div>
    <div class="form__error-message form__error-message--address-not-valid">
        {% trans %}delivery_information.address_not_valid{% endtrans %}
    </div>
    <div class="form-group hide">
        <input  type="hidden"
                class="form-control"
                id="delivery-information-formatted-address"
                name="formatted_address"
                value=""
                required="true"
                placeholder="{% trans %}form.placeholder.address{% endtrans %}"
                data-msg_ensure_full_address="{% trans %}formatted_address.ensure_full_address_with_number{% endtrans %}"
                data-validation-msg="{% trans %}validations.error.checkout.customer_address{% endtrans %}"
                >
    </div>
    <div class="form-group checkout__delivery-information__address-line-1">
        <input class="form-control"
               placeholder="{% trans %}form.placeholder.address_line1{% endtrans %}"
               required="true"
               id="delivery-information-address-line1" name="customer_address[address_line1]" type="text"
               value="{{ customer_address.street|default('') }}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_address_line_1{% endtrans %}"
                >
    </div>
    <div class="form-group checkout__delivery-information__address-line-2">
        <input class="form-control"
               placeholder="{% trans %}form.placeholder.address_line2{% endtrans %}"
               required="true"
               id="delivery-information-address-line2" name="customer_address[address_line2]" type="text"
               value="{{  customer_address.building|default('') }}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_address_line_2{% endtrans %}"
                >
    </div>
    <div class="form-group checkout__delivery-information__postal-index{% if (address_config.hide_checkout_postal_code) %} hide{% endif %}">
        <input type="text" class="form-control" id="delivery-information-postal-index" name="customer_address[postcode]"
               data-vendor_id="{{ vendor.id }}"
               data-msg_ensure_full_address="{% trans %}formatted_address.ensure_full_address_with_number{% endtrans %}"
               value="{{ customer_address.postcode|default('') }}" required="true" placeholder="{% trans %}form.placeholder.postcode{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_postcode{% endtrans %}"
                >
    </div>
    <div class="form-group checkout__delivery-information__city{% if (address_config.hide_checkout_postal_code) %} hide{% endif %}">
        <input type="text" class="form-control" id="delivery-information-city" name="customer_address[city]"
               tabindex="99"
               readonly="readonly"
               value="{{ customer_address.city|default('') }}" required="true" placeholder="{% trans %}form.placeholder.city{% endtrans %}"
               data-validation-msg="{% trans %}validations.error.checkout.customer_city{% endtrans %}"
                >
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="delivery-information-company" name="customer_address[company]"
               value="" placeholder="{% trans %}form.placeholder.company_name{% endtrans %}"
                >
    </div>
    <div class="form-group">
        <textarea class="checkout__step__item-textarea form-control" cols="30" rows="10" id="delivery-information-instructions" name="customer_address[delivery_instructions]"
                  placeholder="{% trans %}form.placeholder.delivery_instructions{% endtrans %}">{{ customer_address.delivery_instructions|default('') }}</textarea>
    </div>

    <input id="delivery-information-address-latitude" name="customer_address[latitude]" type="hidden" value="">
    <input id="delivery-information-address-longitude" name="customer_address[longitude]" type="hidden" value="">
    <input id="delivery-information-address_id" name="customer_address[id]" type="hidden" value="">
    <input type="hidden" name="customer_address[city_id]" value="{{ vendor.city.id }}">
    <button class="checkout__step__item-button button button--disabled" id="delivery-information-form-button">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% trans %}button.save{% endtrans %}
        {% else %}
            {% trans %}button.continue{% endtrans %}
        {% endif %}
    </button>
</form>
<script type="text/template" id="template-delivery-modal">
    <div class="modal fade delivery-modal" id="delivery-modal" tabindex="-1" role="dialog" aria-labelledby="deliveryForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="delivery-error__message">{{ "error.restaurant_does_not_deliver_this_postal_code"|trans }}</div>
                </div>
                <div class="modal-footer">
                    <a class="delivery-error__find-restaurants button"><span>{{ 'link.show_restaurants_in_my_area'|trans }}</span></a>
                </div>
                <div class="modal-close-button"></div>
            </div>
        </div>
    </div>
</script>
