<form action="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}" id="delivery_information_form" method="post" role="form">
    <div class="checkout__item">
        <div class="form-group">
            <input type="text" class="form-control" id="address_line1" name="customer_address[address_line1]"
                   value="{{ customer_address.address_line1|default('') }}" required="true" placeholder="{% trans %}Address including number{% endtrans %}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control"  id="postcode" name="customer_address[postcode]"
                   value="{{ customer_address.postcode|default('') }}" required="true" placeholder="{% trans %}Post Code{% endtrans %}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="city" name="customer_address[city]"
                   value="{{ customer.city|default('') }}" required="true" placeholder="{% trans %}City{% endtrans %}">
        </div>
        <input type="hidden" name="customer_address[city_id]" value="{{ vendor.city.id }}">
        <button id="delivery_information_form_button" class="button pull-right">{% trans %}Continue{% endtrans %}</button>
    </div>
</form>
