<form action="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}" id="delivery_information_form" method="post" role="form" novalidate>
    <div class="checkout__item checkout__item--step">
        <div class="form-group">
            <input type="text" class="form-control" id="address_line1" name="customer_address[address_line1]"
                   value="{{ customer_address.address_line1|default('') }}" required="true" placeholder="{% trans %}form.placeholder.address{% endtrans %}"
                   title="{% trans %}validations.error.checkout.customer_address{% endtrans %}">
        </div>
        <div class="form-group form-group--two_col1">
            <input type="text" class="form-control"  id="postal_index_form_input" name="customer_address[postcode]"
                   data-vendor_id="{{ vendor.id }}"
                   value="{{ customer_address.postcode|default('') }}" required="true" placeholder="{% trans %}form.placeholder.postcode{% endtrans %}"
                   title="{% trans %}validations.error.checkout.customer_postcode{% endtrans %}">
        </div>
        <div class="form-group form-group--two_col2">
            <input type="text" class="form-control" id="city" name="customer_address[city]"
                   value="{{ customer_address.city|default('') }}" required="true" placeholder="{% trans %}form.placeholder.city{% endtrans %}"
                   title="{% trans %}validations.error.checkout.customer_city{% endtrans %}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="company" name="customer_address[company]"
                   value="{{ customer_address.company|default('') }}" placeholder="{% trans %}form.placeholder.company_name{% endtrans %}">
        </div>
        <div class="form-group">
            <textarea cols="30" rows="10" class="form-control" id="delivery_instructions" name="customer_address[delivery_instructions]"
                      value="{{ customer_address.delivery_instructions|default('') }}" placeholder="{% trans %}form.placeholder.delivery_instructions{% endtrans %}"></textarea>
        </div>
        <input id="address_line2" name="customer_address[address_line2]" type="hidden"
               value="{{ customer_address.address_line2|default('') }}" />
        <input id="address_latitude" name="customer_address[latitude]" type="hidden"
               value="{{ customer_address.latitude|default('') }}" />
        <input id="address_longitude" name="customer_address[longitude]" type="hidden"
               value="{{ customer_address.longitude|default('') }}" />
        <input type="hidden" name="customer_address[city_id]" value="{{ vendor.city.id }}">
        <button id="delivery_information_form_button" class="button">{% trans %}button.continue{% endtrans %}</button>
    </div>
</form>
<script type="text/template" id="template-delivery-modal">
    <div class="modal fade delivery-modal" id="delivery-modal" tabindex="-1" role="dialog" aria-labelledby="deliveryForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="delivery-error__message">{{ "error.restaurant_does_not_deliver_this_postal_code"|trans }}</div>
                </div>
                <div class="modal-footer">
                    <a class="delivery-error__find-restaurants button">{{ 'link.show_restaurants_in_my_area'|trans }}</a>
                </div>
                <div class="modal-close-button"></div>
            </div>
        </div>
    </div>
</script>
