<h4 class="checkout__subtitle">{% trans %}title.delivery_time{% endtrans %}</h4>
<div class="checkout__item" id="selected_delivery_address">
    <span>{{ date(cart.orderTime)|localizeddate('long', 'none') }}</span>
    <span>{{date( cart.orderTime)|formatTime }} - {{date( cart.orderTime)|date_modify('+1 hour')|formatTime }}</span>
</div>

<h4 class="checkout__subtitle">{% trans %}title.delivery_address{% endtrans %}</h4>
<div class="checkout__item" id="selected_delivery_address">
    <span>{{ customer_address.address_line1 }} {{ customer_address.address_line2 }}</span>
    <span>{{ customer_address.postcode }}, {{ customer_address.city }}</span>
    <span>{{ customer_address.company }}</span>
    <span>{{ customer_address.delivery_instructions }}</span>
</div>
