{% for card in customer_cards %}
    <div class="checkout__list">
        <input id="savedPlaymentOption{{ card.id }}" class="checkout__list__radio_button" type="radio" name="credit_card" value="{{ card.id }}"/>
        <label for="savedPlaymentOption{{ card.id }}"></label>
        <div class="checkout__list__text">
            **** {{ card.number }} {{ card.holder_name }}, {{ card.expiry_month }}/{{ card.expiry_year }}
        </div>
    </div>
{% endfor %}
