{% block content %}
    <form class="registration-form" action="{{ path('customer.create') }}" method="post" role="form" novalidate>
        <h4 class="modal__h4 text-center">{% trans %}Register{% endtrans %}</h4>
        <div class="modal__padding-left-right">

            {% if errors %}
                    <div class="modal-error-message">
                {% for message in errors %}
                        <div><span class="icon-attention"></span> {{ message }}</div>
                {% endfor %}
                    </div>
            {% endif %}

            <div class="form-group">
                <input type="text"
                       id="first_name"
                       name="customer[first_name]"
                       class="form-control"
                       value="{{ customer.first_name|default('') }}"
                       required="true"
                       placeholder="{% trans %}form.placeholder.first_name{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.first_name{% endtrans %}"
                />
            </div>
            <div class="form-group">
                <input type="text"
                       id="last_name"
                       name="customer[last_name]"
                       class="form-control"
                       value="{{ customer.last_name|default('') }}"
                       required="true"
                       placeholder="{% trans %}form.placeholder.last_name{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.last_name{% endtrans %}"
                />
            </div>
            <div class="form-group">
                <input type="email"
                       id="email"
                       name="customer[email]"
                       class="form-control"
                       value="{{ customer.email|default('') }}"
                       required="true"
                       placeholder="{% trans %}form.placeholder.email{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.email{% endtrans %}"
                />
            </div>
            <div class="form-group">
                <input type="tel"
                       id="mobile_number"
                       name="customer[mobile_number]"
                       class="form-control"
                       value="{{ customer.mobile_number|default('') }}"
                       required="true"
                       placeholder="{% trans %}form.placeholder.mobile_number{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.mobile_number{% endtrans %}"
                />
            </div>
            <div class="form-group">
                <input type="password"
                       id="password"
                       name="customer[password]"
                       class="form-control"
                       required="true"
                       placeholder="{% trans %}form.placeholder.password{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.password{% endtrans %}"
                />
            </div>
            <!-- TODO: JS validate that password is equivalent to repeat_password -->
            <div class="form-group">
                <input type="password"
                       name="customer[confirm_password]"
                       id="repeat_password"
                       class="form-control"
                       required="true"
                       placeholder="{% trans %}Retype password{% endtrans %}"
                       data-toggle="tooltip"
                       title="{% trans %}validations.error.register.confirm_password{% endtrans %}"
                />
            </div>
            <button type="submit" class="button button--full-width">{% trans %}button.register{% endtrans %}</button>
        </div>
    </form>
    <div class="text-center login-registration-link">{% trans %}link.have_account{% endtrans %} <a class="login-link">{% trans %}link.login{% endtrans %}</a></div>
{% endblock %}
