{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{% trans %}meta_title.profile{% endtrans %} | {% trans %}brand{% endtrans %}{% endblock %}

{% block content_wrapper_class %}menu-bg{% endblock content_wrapper_class %}

{% block body_class %}profile{% endblock %}

{% block google_tag_manager %}
    <script type="text/javascript" data-turbolinks-eval=always>
        $(document).ready(function() {
            dataLayer.push({
                'event': 'virtualPageView',
                'pageType': 'User Account',
                'referralKeyword': '{{ gtm_get_referral_keyword() }}',
                'zipcode': '{{ customer_location().postcode }}',
                'city': '{{ customer_location().city }}',
                'country': '{{ gtm_get_country() }}',
                'loggedIn': '{{ is_customer_authenticated_fully() ? 'true' : 'false' }}',
                'customerId': '{{ is_customer_authenticated_fully() ? get_authenticated_customer().id }}',
                'referrer': VOLO.gtmReferrer,
                'cartValue': '{{ get_default_cart_value(app.session) }}',
                'cartContents': '{{ get_default_cart_variations_ids(app.session) }}',
                'cartQuantity': '{{ get_default_cart_count(app.session) }}'
            });
        });
    </script>
{% endblock %}
{% block headerClass %}header--white header-small{% endblock headerClass %}

{% block content %}
    <div class="profile__blocks-wrapper">
        <div class="profile__blocks">
            <div class="profile__block">
                <h3 class="profile__block__title">{% trans %}title.my_profile{% endtrans %}</h3>
                {% include 'VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig' with {action: path('profile_index')} %}
            </div>
            <div class="profile__block">
                <h3 class="profile__block__title">{% trans %}title.my_password{% endtrans %}</h3>
                <div class="checkout__item">
                    {% if errorMessage is not empty %}
                        <div class="error_msg error-msg--above-form">{{ errorMessage|trans|raw }}</div>
                    {% endif %}
                    {% if isChangePasswordSuccess == true %}
                        <div class="success-msg success-msg--above-form">{% trans %}customer.change_password.success{% endtrans %}</div>
                    {% endif %}
                    <form action="{{ path('profile_index') }}" id="profile-password-form" method="post" role="form">
                        <div class="form-group">
                            <input type="password" class="form-control" id="old_password"
                                   name="password_form[old_password]" value="" required="true"
                                   placeholder="{% trans %}form.label.current_password{% endtrans %}"
                                   data-validation-msg="{% trans %}customer.validation.password.not_blank{% endtrans %}">
                            {% if passwordFormErrorMessages.old_password is defined %}
                                {% for message in passwordFormErrorMessages.old_password %}
                                    <span class="error_msg">{{ message|trans|raw }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="new_password"
                                   name="password_form[new_password]" value="" required="true"
                                   placeholder="{% trans %}form.label.newpassword{% endtrans %}"
                                   data-validation-msg="{% trans %}customer.validation.password.password_too_short{% endtrans %}">
                            {% if passwordFormErrorMessages.new_password is defined %}
                                {% for message in passwordFormErrorMessages.new_password %}
                                    <span class="error_msg">{{ message|trans|raw }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button class="button pull-right">{% trans %}button.label.continue{% endtrans %}</button>
                    </form>
                </div>
            </div>
            <div class="profile__block profile__block--list">
                <h3 class="profile__block__title">{% trans %}title.my_addresses{% endtrans %}</h3>
                    {% include 'VoloFrontendBundle:Checkout/Partial:delivery_information_list.html.twig' %}
            </div>
            <div class="profile__block profile__block--list">
                <h3 class="profile__block__title">{% trans %}title.payment_list{% endtrans %}</h3>


                    {% include 'VoloFrontendBundle:Checkout/Partial:payment_list.html.twig' %}

            </div>

        </div>
    </div>



{% endblock %}
