<!DOCTYPE html>
<!--[if lt IE 10]> <html class="ie9"> <![endif]-->
<!--[if !(IE)]><!--> <html class=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{% block title %}{{ 'general.default_page_title'|trans }}{% endblock %}</title>

        {% if "se" == country_code or "au" == country_code %}
            {% set faviconCountry = country_code %}
        {% else %}
            {% set faviconCountry = 'default' %}
        {% endif %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/img/favicon/'~ faviconCountry ~'/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="196x196" href="{{ asset('/img/favicon/'~ faviconCountry ~'/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon/'~ faviconCountry ~'/favicon-16x16.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('/img/favicon/'~ faviconCountry ~'/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/img/favicon/'~ faviconCountry ~'/favicon-32x32.png') }}">

        <meta name="msapplication-TileColor" content="{{ 'default' == faviconCountry ? '#d70f64' : '#FFFFFF' }} ">
        <meta name="msapplication-square70x70logo" content="{{ asset('/img/favicon/'~ faviconCountry ~'/smalltile.png') }}">
        <meta name="msapplication-square150x150logo" content="{{ asset('/img/favicon/'~ faviconCountry ~'/mediumtile.png') }}">
        <meta name="msapplication-square310x310logo" content="{{ asset('/img/favicon/'~ faviconCountry ~'/largetile.png') }}">
        <meta name="msapplication-wide310x150logo" content="{{ asset('/img/favicon/'~ faviconCountry ~'/widetile.png') }}">

        {{ cms('seo-header-meta') }}
        {% block head_meta_seo %}
            <meta name="robots" content="noindex, follow">
            <link rel="canonical" href="{{ app.request.uriForPath(app.request.pathInfo) }}" />
        {% endblock %}

        {% block head_stylesheets %}{% endblock %}
        {% block head_scripts %}{% endblock %}
    </head>
    <body class="country-{{ country_code }} {% block body_class %}{% endblock %}">
        {% if google_tag_manager_container_id %}
            <script type="text/javascript">
                if (window.VOLO && VOLO.tagManager) {
                    VOLO.tagManager.referrer = '{{ gtm_get_referrer() }}';
                    VOLO.tagManager.pageType = '{% block gtm_page_type %}{% endblock %}';
                }
            </script>
            <!-- Google Tag Manager -->
            {% block google_tag_manager_before %}{% endblock %}
            <script type="text/javascript" data-turbolinks-eval=always>
                if (window.VOLO && VOLO.tagManager) {
                    dataLayer.push({
                        'pageType': VOLO.tagManager.pageType,
                        'referralKeyword': '{{ gtm_get_referral_keyword() }}',
                        'zipcode': '{{ customer_location().postcode }}',
                        'city': '{{ customer_location().city }}',
                        'country': '{{ gtm_get_country() }}',
                        'loggedIn': '{{ is_customer_authenticated_fully() ? 'true' : 'false' }}',
                        'customerId': '{{ is_customer_authenticated_fully() ? get_authenticated_customer().id }}',
                        'cartValue': '{{ get_default_cart_value(app.session) }}',
                        'cartContents': '{{ get_default_cart_variations_ids(app.session) }}',
                        'cartQuantity': '{{ get_default_cart_count(app.session) }}'
                    });
                }
            </script>
            <script type="text/javascript" data-turbolinks-eval=false>
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','{{ google_tag_manager_container_id }}');
            </script>
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ google_tag_manager_container_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager -->
        {% endif %}
        <!-- Start Visual Website Optimizer Asynchronous Code -->
        <script type="text/javascript" data-turbolinks-eval=false>
            function VWOExecuteTrackingCode (hide) {
                var $ = window.vwo_$ || window.$ || window.jQuery;
                $ && $('.vwo_loaded').removeClass('vwo_loaded');
                window._vwo_code=(function(){
                    var account_id=179297,
                        settings_tolerance=2000,
                        library_tolerance=2500,
                        url =  window._vis_opt_url || document.URL,
                        use_existing_jquery=false,
                        f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(url)+'&r='+Math.random());var a=d.createElement('style'),b=hide?hide + '{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}':'',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
            }
        </script>
        <!-- End Visual Website Optimizer Asynchronous Code -->
        {% block modals %}{% endblock %}
        <div class="page-wrapper {% block page_wrapper_class %}{% endblock %}">
            <div class="content-wrapper {% block content_wrapper_class %}{% endblock %}">
                {% block header %}{% endblock %}
                {% block breadcrumbs %}{% endblock %}
                {% block flash_messages %}{% endblock %}
            <main>
                {% block content %}{% endblock %}
            </main>
            </div>
            {% block footer %}{% endblock %}
        </div>
        {% block footer_scripts %}{% endblock %}
    </body>
</html>
