<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Volo{% endblock %}</title>
        <link rel="apple-touch-icon" href="img/favicon/favicon_114x114.png?v=1" sizes="114x114">
        <link rel="icon" type="image/png" href="img/favicon/favicon_16x16.png?v=1" sizes="16x16">
        <link rel="icon" type="image/png" href="img/favicon/favicon_32x32.png?v=1" sizes="32x32">
        {{ block('head_stylesheets') }}
        {{ block('head_scripts') }}
    </head>
    <body class="{% block bodyClass %}{% endblock %}">
        <div class="page-wrapper">
            <div class="content-wrapper {% block content_wrapper_class %}{% endblock content_wrapper_class %}">
            {{ block('header') }}
            {{ block('breadcrumbs') }}
            {{ block('flash_messages') }}
            <main>
                {{ block('content') }}
            </main>
            </div>
            {{ block('footer') }}
            {{ block('footer_scripts') }}
        </div>
    </body>

    {{ block('templates') }}
</html>
