<div class="footer__wrapper__top">
    <div class="footer__subscribe__txt">
        <p>{% trans %}footer_subscribe_text{% endtrans %}  <b>{% trans %}get_weekly_email{% endtrans %}</b></p>
    </div>
    <div class="footer__subscribe">
        <form class="footer__subscribe__form" action="{{ path('newsletter.subscribe') }}" method="post" role="form" novalidate>
            <div class="footer__subscribe__city">
                <select class="form-control selectpicker" name="newsletter[city_id]" data-validation-msg="{% trans %}validations.error.newsletter.city{% endtrans %}">
                    {% set currentCity = city|default(false) %}
                    <option value="" {% if not currentCity %}selected="selected"{% endif %}>{% trans %}form.placeholder.subscribe_city{% endtrans %}</option>
                    {% for selectedCity in getFilteredCities() %}
                        <option {% if currentCity and selectedCity.id == currentCity.id %}selected="selected"{% endif %}
                            value="{{ selectedCity.id }}">{{ selectedCity.name }}
                        </option>
                    {% endfor %}
                </select>
                {% if error|default('') %}<span class="form__error-message">{{ error }}</span>{% endif %}
            </div>
            <div class="footer__subscribe__email">
                <input type="text"
                   name="newsletter[email]"
                   class="form-control"
                   value="{{ newsletter.email|default('') }}"
                   required="true"
                   placeholder="{% trans %}form.placeholder.email_address{% endtrans %}"
                   data-toggle="tooltip"
                   data-validation-msg="{% trans %}validations.error.newsletter.email{% endtrans %}"
                />
                {% if error|default('') %}<span class="form__error-message">{{ error }}</span>{% endif %}
            </div>
            <div class="footer__subscribe__button">
                <button class="button" type="submit" id="newsletter-form-submit">
                   {% trans %}button.signup_now{% endtrans %}
                </button>
            </div>
        </form>
        <div class="footer__subscribe__success-message">
            {% trans %}text.signup_now.success_message{% endtrans %}
        </div>
    </div>
    <div class="footer__logo">
        <i class="icon-logo"></i>
    </div>
    {% set footerSocialLinks = cms('footer-social-links') %}
    {% if footerSocialLinks is not empty %}
        <div class="footer__social">
            {{ footerSocialLinks|raw }}
        </div>
    {% endif %}
</div>
