<!DOCTYPE html>
<html>
    <head>
        {#<script src="{{ asset('bundles/heltheturbolinks/js/jquery.turbolinks.js') }}"></script>#}
        <script src="{{ asset('bundles/heltheturbolinks/js/turbolinks.js') }}"></script>

        {% block head %}
            {{ block('head_stylesheets') }}
            {{ block('head_scripts') }}
        {% endblock %}
    </head>
    <body>
    <div class="page-wrapper">
        {% block body %}
            <div class="content-wrapper">
                {% block content_wrapper %}
                    {{ block('header') }}
                    {{ block('breadcrumbs') }}
                    {{ block('flash_messages') }}
                    {{ block('page') }}
                {% endblock content_wrapper %}
            </div>
            {{ block('footer') }}
            {{ block('footer_scripts') }}
        {% endblock %}
    </div>
    </body>
</html>
