{# cart summary extra item #}
<script type="text/template" id="template-cart-summary-extra-item">
+ <%- name %>
</script>

{# cart item #}
<script type="text/template" id="template-cart-item">
    <td class="summary__item__quantity_buttons">
        <span class="icon-minus summary__item__minus"></span>
        <span class="icon-plus summary__item__plus"></span>
    </td>
    <td class="summary__item__quantity"><%= VOLO.formatNumber(quantity) %></td>
    <td class="summary__item__sign">x</td>
    <td class="summary__item__name">
        <%- name %>
        <span class="summary__extra__items"></span>
    </td>
    <td class="summary__item__price">
        <span><%= VOLO.formatCurrency(total_price) %></span>
    </td>
    <td class="summary__item__remove icon-cancel-circled"></td>
</script>
{# cart #}
<script type="text/template" id="template-cart">
    <div class="desktop-cart-container">
        <div class="desktop-cart__header">
            <h3 class="desktop-cart__title">{{ 'title.delivery_time'|trans }}</h3>
            {% include('VoloFrontendBundle:Layout/Partial/templates:timepicker.html.twig') %}

            <p class="desktop-cart_order__message">
                {{ 'cart.order_message'|trans }}
            </p>
            <h3 class="desktop-cart__title">{% trans with {'%name%': vendor.name} %}title.cart_order_summary{% endtrans %} <span>{{ vendor.name }}</span></h3>
        </div>
        <!-- Actual Cart -->
        {#<h3 class="desktop-cart__title">{{ 'My Order'|trans }}</h3>#}
        <div class="desktop-cart__order">
            <div class="checkout__summary">
                <table class="summary__items desktop-cart__products">
                    {# cart item included here #}
                    <tr>
                        <td colspan="4" class="summary__item__empty"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="desktop-cart__footer">
            <div class="desktop-cart__order__subtotal__container"></div>
            <a class="button btn-checkout" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">{% trans %}cart.checkout_link{% endtrans %}</a>
        </div>
    </div>
 </script>

<script type="text/template" id="template-cart-subtotal">
    <div class="desktop-cart__order__subtotal">
        {{ 'cart.subtotal'|trans }} <span class="desktop-cart__order__total__price"><%= VOLO.formatCurrency(subtotal_after_discount) %></span>
    </div>
    <div class="desktop-cart__order__delivery">
        {{ 'cart.delivery'|trans }} <span><%= VOLO.formatCurrency(delivery_fee) %></span>
    </div>
    <div class="desktop-cart__order__total">
        {{ 'cart.total'|trans }} <span class="desktop-cart__order__total__price"><%= VOLO.formatCurrency(total_value) %></span>
    </div>
 </script>
