{# cart item #}
<script type="text/template" id="template-cart-item">
    <td class="summary__item__quantity"><%- quantity %></td>
    <td class="summary__item__sign">x</td>
    <td class="summary__item__name">
        <%- name %>
        <span class="summary__item__extra">
            + White wine butter sauce
        </span>
        <span class="summary__item__extra">
           + Angel Hair pasta
        </span>
    </td>
    <td class="summary__item__price"><%- total_price %> &euro;</td>
</script>
{# cart #}
<script type="text/template" id="template-cart">
    <div class="desktop-cart-container">
        <h3 class="desktop-cart__title">{{ 'Delivery Time'|trans }}</h3>
        <div class="desktop-cart__time">
            <div class="desktop-cart__time__field">
                <select id="order-delivery-time">
                    <option selected="selected" value="2015-05-14">Today, May 14</option>
                    <option value="2015-05-15">Tomorrow, May 15</option>
                    <option value="2015-05-16">Friday, May 16</option>
                </select>
            </div>
            <div class="desktop-cart__time__field">
                <select id="order-delivery-time2">
                    <option selected="selected" value="17:00">17:00 - 18:00</option>
                    <option value="18:00">18:00 - 19:00</option>
                    <option value="19:00">19:00 - 20:00</option>
                </select>
            </div>
        </div>
        <!-- Actual Cart -->
        {#<h3 class="desktop-cart__title">{{ 'My Order'|trans }}</h3>#}
        <div class="desktop-cart__order">
            <p class="desktop-cart_order__message">
                {{ 'You haven’t added anything to the cart yet! Add items by clicking on a menu item.'|trans }}
            </p>
            <h3 class="desktop-cart__title">{% trans with {'%name%': vendor.name} %}Order summary from{% endtrans %} <span>{{ vendor.name }}</span></h3>
            <div class="checkout__summary">
                <table class="summary__items desktop-cart__products">
                    {# cart item included here #}
                    <tr>
                        <td colspan="4" class="summary__item__empty"></td>
                    </tr>
                </table>
            </div>
            <div class="desktop-cart__order__subtotal">
                {{ 'Subtotal'|trans }} <span class="desktop-cart__order__total__price"><%- subtotal_after_discount %> &euro;</span>
            </div>
            <div class="desktop-cart__order__delivery">
                {{ 'Delivery'|trans }} <span><%- delivery_fee %> &euro;</span>
            </div>
            <div class="desktop-cart__order__total">
                {{ 'Total'|trans }} <span class="desktop-cart__order__total__price"><%- total_value %> &euro;</span>
            </div>
        </div>
        <a class="button btn-checkout" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">{% trans %}Checkout{% endtrans %}</a>
    </div>
 </script>
