<div class="restaurants__list__item" data-vendor='{{ serialized_vendor|default('{}')|raw }}'>
    <div class="restaurants__list__item-wrapper">
        <div class="restaurants__list__item-image-wrapper">
            <div class="restaurants__list__item-preorder">
                <i class="restaurants__list__item-preorder-icon icon-preorder"></i>
                <span class="restaurants__list__item-preorder-label">{% trans %}vendor_closed_preorder_available{% endtrans %}</span>
            </div>
            <div class="b-lazy restaurants__list__item-image aspect-ratio-100-52"
                 src="{{ blazy_placeholder }}"
                 data-src="{{ vendor.imageLowResolution|default('<%= image_low_resolution %>')|raw }}|{{ vendor.imageHighResolution|default('<%= image_high_resolution %>')|raw }}">
            </div>
        </div>
        <h3 class="restaurants__list__item-name">
            {{ vendor.name|default('<%= name %>')|raw }}
        </h3>
        <h4 class="restaurants__list__item-description">{{ vendor.description|default('<%= description %>')|raw }}</h4>
        <div class="restaurants__list__item-time">
            <i class="icon-clock-o"></i>
            {{ vendor.metadata.availableIn|default('<%= metadata.available_in %>')|raw }}
        </div>
    </div>
</div>
