{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{% trans %}meta_title.checkout{% endtrans %} | {% trans %}brand{% endtrans %}{% endblock %}

{% block page_wrapper_class %}menu-bg{% endblock page_wrapper_class %}
{% block body_class %}checkout{% endblock %}

{% block headerClass %}header--white header-small{% endblock headerClass %}
{% block gtm_page_type %}Checkout{% endblock %}

{% block footer_scripts %}
    <script data-turbolinks-eval=always>
        var VOLO = VOLO || {};
        VOLO.jsonCart = {{ cart|to_escaped_json }};
        VOLO.jsonLocation = {{ location|to_escaped_json }};
    </script>
{% endblock footer_scripts %}

{% block content %}
    <div class="checkout-wrapper">
        <div class="checkout__blocks">
            <div class="checkout__steps" data-vendor_id="{{ vendor.id }}" data-vendor_code="{{ vendor.code }}" data-vendor_id="{{ vendor.id}}" data-is_guest_user="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'false' : 'true'}}">
                {# delivery information #}
                {{ block('delivery_information') }}

                {# contact info   #}
                {{ block('contact_information') }}

                {# Payment #}
                {{ block('payment') }}
            </div>
            <div id="cart">
                <div class="desktop-cart desktop-cart--checkout" data-minimum_order_amount="{{ vendor.minimumOrderAmount }}" data-vendor_id="{{ vendor.id }}">
                    {# cart from template #}
                </div>
            </div>
        </div>
    </div>
    {# Sticky bottom cart mobile #}
    <div class="bottom-cart">
        <div class="bottom-cart__wrapper">
            <div class="bottom-cart__cta--full">{{ block('checkout_button') }}</div>
        </div>
    </div>
    {{ include('VoloFrontendBundle:Layout/Partial/templates:cart.html.twig') }}
{% endblock %}

{# overriding for reduced footer in checkout page #}
{% block footer %}
    {{ include('VoloFrontendBundle:Layout/Partial/:reduced_footer.html.twig') }}
{% endblock footer %}
