{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block google_tag_manager %}
    <script type="text/javascript" data-turbolinks-eval=always>
        dataLayer.push({
            'event': 'checkout',
            'checkoutStep': '3 - Contact Info Provided',
            'newsletterSignup': false,
            'sessionId': VOLO.configuration.sessionId
        });
    </script>
{% endblock %}

{% block delivery_information %}
    <div class="checkout__delivery_information {% if is_granted('IS_AUTHENTICATED_FULLY') %}checkout-delivery-component{% endif %}">
        <h3 class="checkout__title">1. {% trans %}title.delivery_details{% endtrans %}
            <span class="checkout__subtitle__edit">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        <i class="icon-pencil"></i>
                        {% trans %}link.edit_delivery_information{% endtrans %}
                    </a>
                {% endif %}
            </span>
        </h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_time{% endtrans %}</h4>
            <div class="time-picker" data-vendor_id="{{ vendor.id }}">
                {% include('VoloFrontendBundle:Layout/Partial/templates:timepicker.html.twig') %}
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_address{% endtrans %}
                <span class="checkout__subtitle__edit">
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        <i class="icon-plus"></i>
                        <span class="add_new_address_link__text--add-address">{% trans %}link.add_new_address{% endtrans %}</span>
                        <span class="add_new_address_link__text--cancel">{% trans %}link.cancel{% endtrans %}</span>
                    </a>
                </span>
            </h4>

            <div class="checkout__item checkout__item--delivery-list">
                <div id="delivery-information-list-wrapper" class="delivery-information-list__wrapper">
                    <div class="selected-address"></div>
                    <div id="delivery-information-list" data-addresses='{{ customer_addresses|to_escaped_json }}'></div>
                    {% include('VoloFrontendBundle:Layout/Partial/templates:checkout_address.html.twig') %}
                    <div class="checkout__subtitle__open">
                        <a id="select_other_address_link" class="checkout__more-feature-link">
                            <b class="select_other_address_link__text--select">{% trans %}link.select_other_address{% endtrans %}</b>
                            <b class="select_other_address_link__text--cancel">{% trans %}link.cancel{% endtrans %}</b>
                        </a>
                    </div>
                </div>

                <div id="add_new_address_form" class="hide">
                    {% include 'VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig' with {'vendor' : vendor, 'customer_address': default_address} only %}
                </div></div>

        {% else %}
            {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
        {% endif %}
    </div>
{% endblock %}

{% block contact_information %}
    <h3 class="checkout__title">
        2. {% trans %}title.contact_information{% endtrans %}
        <span class="checkout__subtitle__edit">
        <a id="edit_contact_information_form_link"
           href="{{ path('checkout_contact_information', {vendorCode: vendor.code}) }}">
            <i class="icon-pencil"></i>
            <span class="edit_contact_information_form_link__text--edit">{% trans %}link.edit_contact_information{% endtrans %}</span>
            <span class="edit_contact_information_form_link__text--cancel">{% trans %}link.cancel{% endtrans %}</span>
        </a>
    </span>
    </h3>

    <div id="contact_information">
        {% include('VoloFrontendBundle:Checkout/Partial:contact_information_edit.html.twig') %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="edit_contact_information_form" class="hide">
            {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') with {action: '', phoneNumberError: phoneNumberError|default("")} %}
        </div>
    {% endif %}
{% endblock %}

{% block payment %}
    <h3 class="checkout__title">3. {% trans %}title.payment{% endtrans %}</h3>
    <div class="checkout__payments-wrapper">
        <div class="checkout__payments">
            {% for payment in vendor.paymentTypes %}
                <div class="checkout__payment">
                    <div class="checkout__payment__wrapper {{ payment.paymentTypeCode }}"
                         data-payment_type_id="{{ payment.id }}"
                         data-payment_type_code="{{ payment.paymentTypeCode }}">
                        <div class="checkout__payment_img">
                            {% set label_credit_cart = '' %}
                            {% if payment.paymentTypeCode == 'paypal' %}
                                <img class="b-lazy"
                                     src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                     data-src="{{ asset('img/checkout/paypal.png') }}|{{ asset('img/checkout/paypal-2x.png') }}"
                                     alt="alt-text"/>
                                {% set label_credit_cart = 'payment.label_paypal' %}
                            {% endif %}
                            {% if payment.paymentTypeCode == 'adyen' %}
                                <img class="b-lazy"
                                     src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                     data-src="{{ asset('img/checkout/visa.png') }}|{{ asset('img/checkout/visa-2x.png') }}"
                                     alt="alt-text"/>
                                <img class="b-lazy"
                                     src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                     data-src="{{ asset('img/checkout/mastercard.png') }}|{{ asset('img/checkout/mastercard-2x.png') }}"
                                     alt="alt-text"/>
                                {% set label_credit_cart = 'payment.paymentTypeCode' %}
                            {% endif %}
                        </div>
                        <div class="checkout__payment_label"><i class="icon-check"></i>{{ label_credit_cart|trans }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="checkout__payment_paypal_description hide">
                <div class="checkout__payment_paypal_description__title">
                    {% trans %}generic.payment_paypal_description_title{% endtrans %}
                </div>
                <div class="checkout__payment_paypal_description__text">
                    {% trans %}generic.payment_paypal_description_text{% endtrans %}
                </div>
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include('VoloFrontendBundle:Checkout/Partial:payment_list.html.twig') %}
        {% endif %}
        <div class="checkout__add-new-wrap">
        {% include('VoloFrontendBundle:Checkout/Partial:payment_form.html.twig') %}
        </div>
    </div>
    
    <div class="voucher-component" data-vendor_id="{{ vendor.id }}">
       <div class="checkout__subtitle__open">
           <a id="add_voucher_link" class="checkout__more-feature-link">
               {% trans %}link.have_voucher{% endtrans %}
           </a>
       </div>

        <form action="#" id="voucher_form" role="form" novalidate>
            <div class="checkout__item">
                <div class="form-group form-group--two_col1--xs-full">
                    <input type="text" class="form-control" id="voucher" name="voucher"
                           required="true" placeholder="{% trans %}form.label.enter_voucher{% endtrans %}">
                    <span class="error_msg error_invalid_voucher"></span>
                    <span class="error_msg error_empty_voucher hide">{% trans %}error.please_insert_voucher_code{% endtrans %}</span>
                </div>
                <div class="form-group form-group--two_col2--xs-full">
                    <button id="checkout-voucher-button" class="button pull-left">{% trans %}button.apply{% endtrans %}</button>
                </div>
            </div>
        </form>
        <div id="voucher-wrapper" class="checkout__item">{% trans %}voucher{% endtrans %}
            <b id="voucher-text"></b>
            <a id="remove_voucher_link">{% trans %}link.remove_voucher{% endtrans %}</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="checkout-button" data-vendor_code="{{ vendor.code }}" data-vendor_id="{{ vendor.id}}" data-is_guest_user="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'false' : 'true'}}">
        {% set paypalError = app.session.flashbag.get('paypal-error') %}
        <span class="error_msg {{ paypalError|length > 0 ? '' : 'hide' }}">
            {% if paypalError|length > 0 %}{% trans %}paypal.payment_error{% endtrans %}{% endif %}
        </span>
        <div class="checkout__submit">
            <button id="finish-and-pay" class="button">{% trans %}button.finish_and_pay{% endtrans %}</button>
        </div>
        <div class="checkout__disclaimer">{% trans %}checkout.disclamer{% endtrans %}</div>
        <div class="clearfix"></div>
    </div>

    <div class="checkout__legal">
        <span>{% trans with {'%legal_name%': vendor.addressLine2 }%}vendor.sold_by %legal_name%{% endtrans %}</span>
        <span>{% trans %}checkout.legal_disclamer{% endtrans %}</span>
    </div>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    
    <script data-turbolinks-eval=false>
        //TODO make this a backbone view
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            $('.edit_contact_information_form_link__text--edit').click(function (event) {
                var $editContactInformationForm = $('#edit_contact_information_form'),
                    editContactInformationFormIsVisible;

                $editContactInformationForm.toggleClass('hide');
                editContactInformationFormIsVisible = $editContactInformationForm.hasClass('hide');
                $(this).toggleClass('contact_information_form-open', editContactInformationFormIsVisible);
                $('#contact_information').find('.checkout__item').toggleClass('hide', !editContactInformationFormIsVisible);
                event.preventDefault();
            });
    
            $('#contact_information_form').on('submit', function (event) {
                // replace the list with the new list from the POST request
                event.preventDefault();

                $.ajax({
                    url: Routing.generate('checkout_edit_contact_information', {email: '{{ customer.email }}', vendorCode: '{{ vendor.code}}'}),
                    type: 'PUT',
                    data: $('#contact_information_form').serialize()
                }).done(function (data) {
                    var mobileNumberWrap = $('#mobile_number_wrap');
                    mobileNumberWrap.find('.invalid_number').remove();
                    if (_.isUndefined(data.invalidPhoneError)) {
                        $('#contact_information').html(data.html);
                        $('#edit_contact_information_form').toggleClass('hide');
                        $('.edit_contact_information_form_link__text--edit').removeClass('contact_information_form-open');
                    } else {
                        mobileNumberWrap.append('<span class="error_msg invalid_number">' +
                            data.invalidPhoneError +
                            '</span>');
                    }
                });
            });
        {% endif %}
    </script>
{% endblock %}
