{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block delivery_information %}
    <div class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}checkout-delivery-component{% endif %}">
        <h3 class="checkout__title">1. {% trans %}title.delivery_details{% endtrans %}
            <span class="checkout__subtitle__edit">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        <i class="icon-pencil"></i>
                        {% trans %}link.add_new_address{% endtrans %}
                    </a>
                {% endif %}
            </span>
        </h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_time{% endtrans %}</h4>
            <div class="time-picker" data-vendor_id="{{ vendor.id }}">
                {% include('VoloFrontendBundle:Layout/Partial/templates:timepicker.html.twig') %}
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_address{% endtrans %}
                <span class="checkout__subtitle__edit">
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        <i class="icon-plus"></i>
                        <span class="add_new_address_link__text--add-address">{% trans %}link.add_new_address{% endtrans %}</span>
                        <span class="add_new_address_link__text--cancel">{% trans %}link.cancel{% endtrans %}</span>
                    </a>
                </span>
            </h4>

            <div class="checkout__item checkout__item--delivery-list">
                <div id="delivery-information-list-wrapper">
                    <div class="selected-address"></div>
                    <div id="delivery-information-list" data-addresses='{{ customer_addresses|to_escaped_json }}'></div>
                    {% include('VoloFrontendBundle:Layout/Partial/templates:checkout_address.html.twig') %}
                    <div class="checkout__item">
                        <a id="select_other_address_link" class="checkout__more-feature-link">
                            <span class="select_other_address_link__text--select">{% trans %}link.select_other_address{% endtrans %}</span>
                            <span class="select_other_address_link__text--cancel">{% trans %}link.cancel{% endtrans %}</span>
                        </a>
                    </div>
                </div>

                <div id="add_new_address_form" class="hide">
                    {% include 'VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig' with {'vendor' : vendor, 'customer_address': default_address} only %}
                </div></div>
            
        {% else %}
            {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
        {% endif %}
    </div>
{% endblock %}

{% block contact_information %}
    <h3 class="checkout__title">
        2. {% trans %}title.contact_information{% endtrans %}
        <span class="checkout__subtitle__edit">
        <a id="edit_contact_information_form_link"
           href="{{ path('checkout_contact_information', {vendorCode: vendor.code}) }}">
            <i class="icon-pencil"></i>
            <span class="edit_contact_information_form_link__text--edit">{% trans %}link.edit_contact_information{% endtrans %}</span>
            <span class="edit_contact_information_form_link__text--cancel">{% trans %}link.cancel{% endtrans %}</span>
        </a>
    </span>
    </h3>

    <div id="contact_information">
        {% include('VoloFrontendBundle:Checkout/Partial:contact_information_edit.html.twig') %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="edit_contact_information_form" class="hide">
            {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') with {action: '#'} %}
        </div>
    {% endif %}
{% endblock %}

{% block payment %}
    <h3 class="checkout__title">3. {% trans %}title.payment{% endtrans %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and customer_cards is defined and customer_cards|length > 0 %}
            <span class="checkout__subtitle__edit">
                <i class="icon-plus"></i>
                <a id="add_new_credit_card_link">{% trans %}link.add_new_credit_card{% endtrans %}</a>
            </span>
        {% endif %}
    </h3>

    <div class="checkout__payments">
        {% for payment in vendor.paymentTypes %}
            <div class="checkout__payment">
                <div class="checkout__payment__wrapper"
                     data-payment_type_id="{{ payment.id }}"
                     data-payment_type_code="{{ payment.paymentTypeCode }}">
                    <div class="checkout__payment_img">
                        {% set label_credit_cart = '' %}
                        {% if payment.paymentTypeCode == 'paypal' %}
                            <img class="b-lazy"
                                 src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                 data-src="{{ asset('img/checkout/paypal.png') }}|{{ asset('img/checkout/paypal-2x.png') }}"
                                 alt="alt-text" />
                            {% set label_credit_cart = 'payment.label_paypal' %}
                        {% endif %}
                        {% if payment.paymentTypeCode == 'adyen' %}
                                <img class="b-lazy"
                                     src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                     data-src="{{ asset('img/checkout/visa.png') }}|{{ asset('img/checkout/visa-2x.png') }}"
                                     alt="alt-text"/>
                                <img class="b-lazy"
                                     src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==
                                     data-src="{{ asset('img/checkout/mastercard.png') }}|{{ asset('img/checkout/mastercard-2x.png') }}"
                                     alt="alt-text"/>
                            {% set label_credit_cart = 'payment.paymentTypeCode' %}
                        {% endif %}
                    </div>
                    <div class="checkout__payment_label"><i class="icon-check"></i>{{ label_credit_cart|trans }}</div>
                </div>
                {% if payment.paymentTypeCode == 'paypal' %}
                <div class="checkout__payment_description">
                    {% trans %}generic.payment_paypal_description{% endtrans %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include('VoloFrontendBundle:Checkout/Partial:payment_list.html.twig') %}
    {% endif %}
    <div class="checkout__add-new-wrap">
    {% include('VoloFrontendBundle:Checkout/Partial:payment_form.html.twig') %}
    </div>
    
    <div class="voucher-component" data-vendor_id="{{ vendor.id }}">
       <div class="checkout__item"><a id="add_voucher_link" class="checkout__more-feature-link">{% trans %}link.have_voucher{% endtrans %}</a></div>

        <form action="#" id="voucher_form" role="form">
            <div class="checkout__item">
                <div class="form-group form-group--two_col1--xs-full">
                    <input type="text" class="form-control" id="voucher" name="voucher"
                           required="true" placeholder="{% trans %}form.label.enter_voucher{% endtrans %}">
                    <span class="error_msg error_invalid_voucher"></span>
                </div>
                <div class="form-group form-group--two_col2--xs-full"> <button class="button pull-left">{% trans %}button.apply{% endtrans %}</button></div>
            </div>
        </form>
        <div id="voucher-wrapper" class="checkout__item">{% trans %}voucher{% endtrans %}
            <b id="voucher-text"></b>
            <a id="remove_voucher_link">{% trans %}link.remove_voucher{% endtrans %}</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="checkout-button" data-vendor_code="{{ vendor.code }}" data-vendor_id="{{ vendor.id}}" data-is_guest_user="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'false' : 'true'}}">
        {% set paypalError = app.session.flashbag.get('paypal-error') %}
        <span class="error_msg {{ paypalError|length > 0 ? '' : 'hide' }}">
            {% if paypalError|length > 0 %}{% trans %}paypal.payment_error{% endtrans %}{% endif %}
        </span>
        <div class="checkout__submit">
            <button id="finish-and-pay" class="button">{% trans %}button.finish_and_pay{% endtrans %}</button>
        </div>
        <div class="checkout__disclaimer">{% trans %}checkout.disclamer{% endtrans %}</div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    
    <script data-turbolinks-eval=false>
        //TODO make this a backbone view
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            $('#edit_contact_information_form_link').click(function () {
                $('#edit_contact_information_form').toggleClass('hide');
                $(this).toggleClass('contact_information_form-open');
                $('#contact_information').find('.checkout__item').toggleClass('hide');
                event.preventDefault();
            });
    
            $('#contact_information_form').on('submit', function (event) {
                $.post(
                        Routing.generate('checkout_edit_contact_information'),
                        $('#contact_information_form').serialize()
                ).done(function (data) {
                    $('#contact_information').html(data);
                    $('#edit_contact_information_form').toggleClass('hide');
                    $('#edit_contact_information_form_link').removeClass('contact_information_form-open');
                });


                // replace the list with the new list from the POST request
                event.preventDefault();
            });
    
            $('#add_new_credit_card_link').click(function () {
                    $('#payment_form').toggleClass('hide');
                    if (!$('#payment_form').hasClass('hide')) {
                        $('input[name="credit_card"]').attr("checked", false);
                        VOLO.checkoutModel.set('credit_card_id', null);
                    }
                });
    
            $('input[name="credit_card"]').click(function(){
                $('#payment_form').addClass('hide');
                VOLO.checkoutModel.set('credit_card_id', $("input:radio[name='credit_card']:checked").val());
                VOLO.checkoutModel.set('adyen_encrypted_data', null);
            });
        {% endif %}

        $('.checkout__payment__wrapper').click(function () {
            $('.checkout__payment__wrapper--active').removeClass('checkout__payment__wrapper--active');
            $(this).addClass('checkout__payment__wrapper--active');

            VOLO.checkoutModel.set('payment_type_code', $(this).data('payment_type_code'));
            VOLO.checkoutModel.set('payment_type_id', $(this).data('payment_type_id'));

            if ($(this).data('payment_type_code') === "paypal") {
                $('#payment_form').addClass('hide');
                $('.checkout__list').addClass('hide');
            } else {
                $('#payment_form').toggleClass('hide', $("input:radio[name='credit_card']").length > 0);
                $('.checkout__list').removeClass('hide');
            }
        });

        $('.checkout__item__card__help-toggle').click(function() {
            $('.checkout__item__card__help').toggle();
        });
    </script>
{% endblock %}
