{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{% trans %}meta_title.checkout{% endtrans %} | {% trans %}brand{% endtrans %}{% endblock %}

{% block page_wrapper_class %}menu-bg{% endblock page_wrapper_class %}
{% block gtm_page_type %}Checkout{% endblock %}
{% block body_class %}checkout{% endblock %}

{% block headerClass %}header--white header-small{% endblock headerClass %}

{% block content %}
    <div class="checkout-wrapper">
        <div class="checkout__blocks">
            <div class="checkout__steps" data-vendor_id="{{ vendor.id }}" data-vendor_code="{{ vendor.code }}" data-vendor_min_delivery_time="{{ vendor.minimumDeliveryTime }}">
                <div class="checkout__step checkout__delivery-information">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_delivery_information.html.twig' %}
                </div>
                <div class="checkout__step checkout__step--reduced checkout__contact-information">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_contact_information.html.twig' %}
                </div>
                <div class="checkout__step checkout__step--reduced checkout__payment">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_payment.html.twig' %}
                </div>
            </div>
            <div id="cart">
                <div class="desktop-cart desktop-cart--checkout" data-minimum_order_amount="{{ vendor.minimumOrderAmount }}" data-vendor_id="{{ vendor.id }}">
                    {# cart from template #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# overriding for reduced footer in checkout page #}
{% block footer %}
    {{ include('VoloFrontendBundle:Layout/Partial/:reduced_footer.html.twig') }}
{% endblock footer %}

{% block footer_scripts %}
    {{ parent() }}

    {% include('VoloFrontendBundle:Layout/Partial/templates:cart.html.twig')  %}
    {% include('VoloFrontendBundle:Layout/Partial/templates:checkout_address.html.twig') %}

    <script data-turbolinks-eval=always>
        var VOLO = VOLO || {};
        VOLO.timePickerValues = {{ getTimePickerJsonValues(vendor)|to_escaped_json}};
        VOLO.jsonCart = {{ cart|to_escaped_json }};
        VOLO.jsonUserAddress = {{ customer_addresses|to_escaped_json }};
        VOLO.jsonLocation = {{ location|to_escaped_json }};
    </script>
{% endblock %}
