{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{% trans %}meta_title.checkout{% endtrans %} | {% trans %}brand{% endtrans %}{% endblock %}

{% block page_wrapper_class %}menu-bg{% endblock page_wrapper_class %}
{% block body_class %}checkout{% endblock %}

{% block headerClass %}header--white header-small{% endblock headerClass %}

{% block google_tag_manager_before %}
    <script type="text/javascript" data-turbolinks-eval=always>
        dataLayer.push({
            'event': 'checkout',
            'checkoutStep': '1 - Checkout Started',
            'sessionId': VOLO.configuration.sessionId,
            'referrer': VOLO.tagManager.referrer
        });
    </script>
{% endblock %}

{% block content %}
    <div class="checkout-wrapper">
        <div class="checkout__blocks">
            <div class="checkout__steps" data-vendor_id="{{ vendor.id }}" data-vendor_code="{{ vendor.code }}">
                <div class="checkout__step checkout__step--first checkout__delivery-information" data-vendor_id="{{ vendor.id }}">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_delivery_information.html.twig' %}
                </div>
                <div class="checkout__step checkout__contact-information">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_contact_information.html.twig' %}
                </div>
                <div class="checkout__step checkout__payment">
                    {% include 'VoloFrontendBundle:Checkout/Partial:step_payment.html.twig' %}
                </div>
            </div>
            <h3 class="checkout__title checkout__title--summary">{% trans %}title.order_summary{% endtrans %}</h3>
            <div id="cart">
                <div class="desktop-cart desktop-cart--checkout" data-minimum_order_amount="{{ vendor.minimumOrderAmount }}" data-vendor_id="{{ vendor.id }}">
                    {# cart from template #}
                </div>
            </div>
        </div>
    </div>
    {# Sticky bottom cart mobile #}
    <div class="bottom-cart">
        <div class="bottom-cart__wrapper">
            <div class="bottom-cart__cta--full">{{ block('checkout_button') }}</div>
        </div>
    </div>
{% endblock %}

{# overriding for reduced footer in checkout page #}
{% block footer %}
    {{ include('VoloFrontendBundle:Layout/Partial/:reduced_footer.html.twig') }}
{% endblock footer %}

{% block footer_scripts %}
    {{ parent() }}

    {% include('VoloFrontendBundle:Layout/Partial/templates:cart.html.twig')  %}
    {% include('VoloFrontendBundle:Layout/Partial/templates:checkout_address.html.twig') %}

    <script data-turbolinks-eval=always>
        var VOLO = VOLO || {};
        VOLO.jsonCart = {{ cart|to_escaped_json }};
        VOLO.jsonUserAddress = {{ customer_addresses|to_escaped_json }};
        VOLO.jsonLocation = {{ location|to_escaped_json }};
    </script>
{% endblock %}
