{% extends 'VoloFrontendBundle:Checkout:base.html.twig' %}

{% block delivery_information %}
    <div class="{% if is_granted('IS_AUTHENTICATED_FULLY') %}checkout-delivery-component{% endif %}">
        <h3 class="checkout__title">1. {% trans %}title.delivery_details{% endtrans %}
            <span class="checkout__subtitle__edit">
                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <i class="icon-pencil"></i>
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        {% trans %}link.add_new_address{% endtrans %}
                    </a>
                {% endif %}
            </span>
        </h3>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_time{% endtrans %}</h4>
            <div class="time-picker" data-vendor_id="{{ vendor.id }}">
                {% include('VoloFrontendBundle:Layout/Partial/templates:timepicker.html.twig') %}
            </div>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h4 class="checkout__subtitle">{% trans %}title.delivery_address{% endtrans %}
                <span class="checkout__subtitle__edit">
                    <i class="icon-plus"></i>
                    <a id="add_new_address_link" href="{{ path('checkout_delivery_information', {vendorCode: vendor.code}) }}">
                        {% trans %}link.add_new_address{% endtrans %}
                    </a>
                </span>
            </h4>

            <div class="checkout__item checkout__item--delivery-list">
                <div id="delivery-information-list-wrapper">
                    <div class="selected-address"></div>
                    <div id="delivery-information-list" data-addresses='{{ customer_addresses|to_escaped_json }}'></div>
                    {% include('VoloFrontendBundle:Layout/Partial/templates:checkout_address.html.twig') %}
                    <div class="checkout__item">
                        <a id="select_other_address_link" class="checkout__more-feature-link">
                            {% trans %}link.select_other_address{% endtrans %}
                        </a>
                    </div>
                </div>

                <div id="add_new_address_form" class="hide">
                    {% include 'VoloFrontendBundle:Checkout/Partial:delivery_information_form.html.twig' with {'vendor' : vendor, 'customer_address': default_address} only %}
                </div></div>
            
        {% else %}
            {% include('VoloFrontendBundle:Checkout/Partial:delivery_information_edit.html.twig') %}
        {% endif %}
    </div>
{% endblock %}

{% block contact_information %}
    <h3 class="checkout__title">
        2. {% trans %}title.contact_information{% endtrans %}
        <span class="checkout__subtitle__edit">
        <i class="icon-pencil"></i>
        <a id="edit_contact_information_form_link"
           href="{{ path('checkout_contact_information', {vendorCode: vendor.code}) }}">{% trans %}
            link.edit_contact_information{% endtrans %}</a>
    </span>
    </h3>

    <div id="contact_information">
        {% include('VoloFrontendBundle:Checkout/Partial:contact_information_edit.html.twig') %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="edit_contact_information_form" class="hide">
            {% include('VoloFrontendBundle:Checkout/Partial:contact_information_form.html.twig') with {action: '#'} %}
        </div>
    {% endif %}
{% endblock %}

{% block payment %}
    <h3 class="checkout__title">3. {% trans %}title.payment{% endtrans %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') and customer_cards is defined and customer_cards|length > 0 %}
            <span class="checkout__subtitle__edit">
                <i class="icon-plus"></i>
                <a id="add_new_credit_card_link">{% trans %}link.add_new_credit_card{% endtrans %}</a>
            </span>
        {% endif %}
    </h3>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include('VoloFrontendBundle:Checkout/Partial:payment_list.html.twig') %}
    {% endif %}
    <div class="checkout__add-new-wrap">
    {% include('VoloFrontendBundle:Checkout/Partial:payment_form.html.twig') %}
    </div>
    
    <div class="voucher-component" data-vendor_id="{{ vendor.id }}">
       <div class="checkout__item"><a id="add_voucher_link" class="checkout__more-feature-link">{% trans %}link.have_voucher{% endtrans %}</a></div>

        <form action="#" id="voucher_form" role="form" class="hide">
            <div class="checkout__item">
                <div class="form-group form-group--two_col1--xs-full">
                    <input type="text" class="form-control" id="voucher" name="voucher"
                           required="true" placeholder="{% trans %}form.label.enter_voucher{% endtrans %}">
                    <span class="error_msg error_invalid_voucher"><i class="icon-attention"></i> {% trans %}voucher.error_invalid{% endtrans %}</span>
                </div>
                <div class="form-group form-group--two_col2--xs-full"> <button class="button pull-left">{% trans %}button.apply{% endtrans %}</button></div>
            </div>
        </form>
        <div id="voucher-wrapper" class="checkout__item hide">{% trans %}voucher{% endtrans %}
            <b id="voucher-text"></b>
            <a id="remove_voucher_link">{% trans %}link.remove_voucher{% endtrans %}</a>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="checkout-button" data-vendor_code="{{ vendor.code }}" data-vendor_id="{{ vendor.id}}" data-is_guest_user="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'false' : 'true'}}">
        <span class="error_msg hide"></span>
        <div class="checkout__submit">
            <button id="finish-and-pay" class="button">{% trans %}button.finish_and_pay{% endtrans %}</button>
        </div>
        <div class="checkout__disclaimer">{% trans %}checkout.disclamer{% endtrans %}</div>
        <div class="clearfix"></div>
    </div>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    
    <script data-turbolinks-eval=false>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            $('#edit_contact_information_form_link').click(function () {
                $('#edit_contact_information_form').toggleClass('hide');
                event.preventDefault();
            });
    
            $('#contact_information_form').on('submit', function (event) {
                $.post(
                        Routing.generate('checkout_edit_contact_information'),
                        $('#contact_information_form').serialize()
                ).done(function (data) {
                            $('#contact_information').html(data);
                            $('#contact_information_form').toggleClass('hide');
                        });
    
                // replace the list with the new list from the POST request
                event.preventDefault();
            });
    
            $('#add_new_credit_card_link').click(function () {
                    $('#payment_form').toggleClass('hide');
                    if (!$('#payment_form').hasClass('hide')) {
                        $('input[name="credit_card"]').attr("checked", false);
                        VOLO.checkoutModel.set('credit_card_id', null);
                    }
                });
    
            $('input[name="credit_card"]').click(function(){
                $('#payment_form').addClass('hide');
                VOLO.checkoutModel.set('credit_card_id', $("input:radio[name='credit_card']:checked").val());
                VOLO.checkoutModel.set('adyen_encrypted_data', null);
            });
        {% endif %}

        $('.checkout__item__card__help-toggle').click(function() {
            $('.checkout__item__card__help').toggle();
        });

        $('#payment_form input').on('keyup', function () {
            var encryptedForm = adyen.encrypt.createEncryptedForm(
                    document.getElementById('payment_form'),
                    '{{ adyen_public_key }}',
                    {cardTypeElement: document.getElementById('cardType')}
            );

            var isComplete = !$("#payment_form input").filter(function() { return $(this).val() == ""; }).length;
            VOLO.checkoutModel.set('adyen_encrypted_data', isComplete ? encryptedForm.encrypt() : null);
        });
    </script>
{% endblock %}
