{% block vendor_description %}
    <a href="{{ path('vendor', {code: vendor.code, slug: vendor.name|url_encode}) }}">
        <div class="restaurants__item">
            <div class="restaurants__item__wrapper">
                <div class="restaurants__item__wrapper__picture">
                        <img class="b-lazy" data-src="/img/dish_types/dish_sample.jpg" alt="" src="{{ blazy_placeholder }}" />
                </div>
                <h3 class="restaurants__item__wrapper__name">
                        {{ vendor.name }}
                </h3>
                <h4 class="restaurants__item__wrapper__desc">{{ vendor.description|lower }}</h4>
                <div class="restaurants__item__wrapper__time">
                    <i class="icon-delivery"></i>
                    {{ vendor.minimumDeliveryTime|e }} min
                </div>
            </div>
        </div>
    </a>
{% endblock %}
