{% block vendor_description %}
    <div class="restaurants__item">
        <div class="restaurants__item__wrapper">
            <div class="restaurants__item__wrapper__picture">
                <a href="{{ path('vendor', {id: vendor.id}) }}">
                    <img class="b-lazy" data-src="/img/dish_types/dish_sample.jpg" alt="" src="/img/placeholder_414x217.png" />
                </a>
            </div>
            <h3 class="restaurants__item__wrapper__name">
                <a href="{{ path('vendor', {id: vendor.id}) }}">
                    {{ vendor.name }}
                </a>
            </h3>
            <h4 class="restaurants__item__wrapper__desc">{{ vendor.description|lower }}</h4>
            <p class="restaurants__item__wrapper__time">
                <span class="restaurants__item__wrapper__time__icon"></span>
               {{ vendor.minimumDeliveryTime|e }} min
            </p>
        </div>

    </div>
{% endblock %}
