{% block vendor_description %}
    <a href="{{ path('vendor', {code: vendor.code, urlKey: vendor.urlKey}) }}" class="restaurants__list__item_a">
        <div class="restaurants__list__item"
             data-vendor='{{ serialize(vendor) }}'
             data-code="{{ vendor.code }}"
             data-variant="{{ vendor.metadata.availableIn is null ? 'open' : 'closed' }}"
             data-position="{{ vendorsCounter }}"
             data-search='{{ getVendorSearchData(vendor)|to_escaped_json }}'
        >
            <div class="restaurants__list__item-wrapper">
                <div class="restaurants__list__item-image-wrapper">
                    <div class="restaurants__list__item-preorder">
                        <i class="restaurants__list__item-preorder-icon icon-preorder"></i>
                        <span class="restaurants__list__item-preorder-label">{% trans %}vendor_closed_preorder_available{% endtrans %}</span>
                    </div>
                    {% set imageUrl = asset(vendor.code  ~ '-listing.jpg', 'cdn_s3') %}
                    <div class="b-lazy restaurants__list__item-image aspect-ratio-100-52"
                         src="{{ blazy_placeholder }}"
                         data-src="{{ thumbor(imageUrl, '500' )}}|{{ thumbor(imageUrl, '500_retina' )}}">
                    </div>
                </div>
                <h3 class="restaurants__list__item-name">
                        {{ vendor.name }}
                </h3>
                <h4 class="restaurants__list__item-description">{{ vendor.description }}</h4>
                <div class="restaurants__list__item-time">
                    <i class="icon-clock-o"></i>
                    {{ vendor.metadata.availableIn }}
                </div>
            </div>
        </div>
    </a>
{% endblock %}
