{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block footer_scripts %}
    {{ parent() }}
    <script data-turbolinks-eval=always>
        $(document).one('ready page:load', VOLO.GeocodingHandlersHome.handle);
    </script>
{% endblock %}

{% block content %}
    <section class="home-section teaser__home-section fullWindowHeight teaser b-lazy"
         data-src="{{ asset("img/homepage/teaser_2400.jpg") }}"
         data-src-1400="{{ asset("img/homepage/teaser_2800.jpg") }}"
         data-src-biggest="{{ asset("img/homepage/teaser_4000.jpg") }}">
        <div class="teaser__slogan">
            <h2 class="teaser__slogan__h2">{{ 'The restaurants you love brought to you'|trans }}</h2>
        </div>
        <form class="teaser__form" id="postal_index_form" action="{{ path('search_vendors') }}" method="GET">
            <input type="text" class="teaser__form__input" name="formatted_address" autofocus="" placeholder="{{ 'home.postal_code'|trans }}">
            <input type="hidden" name="lat">
            <input type="hidden" name="lng">
            <button class="teaser__button button button--inline" type="submit">{{ 'home.buttons_find_food'|trans }}</button>
        </form>
        <div class="teaser__white-gradient b-lazy" data-src="{{ asset('img/white-gradient.png') }}"></div>
        <div class="teaser__arrow data-icon icon-down-open-big"></div>
    </section>

    <div class="titles restaurants__titles">
        <div class="titles__title">
            {{ 'Only the best.'|trans }}
        </div>
        <div class="titles__subtitle">
            {{ 'Carefully selected.'|trans }}
        </div>
    </div>
    <section class="home-section restaurants-home">
        <div class="restaurants-home__logos">
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo01.png') }}">
            </div>
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo02.png') }}">
            </div>
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo03.png') }}">
            </div>
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo04.png') }}">
            </div>
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo05.png') }}">
            </div>
            <div class="restaurants-home__logos__logo">
                <img src="{{ asset('img/logos/logo01.png') }}">
            </div>
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            {{ 'No long waits.'|trans }}
        </div>
        <div class="titles__subtitle">
            {{ 'Get your meals fast.'|trans }}
        </div>
    </div>
    <section class="home-section stats">
        <div class="stats__container">
            <div class="stats__content" >
                <img class="stats__fork-knife" alt="" src="{{ asset('img/fork-knife.png') }}" />
                <div class="stats__numbers">
                    <div class="stats__numbers__first">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number6"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                        </div>
                    </div>
                    <div class="stats__numbers__second">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number0"></div>
                            <img class="number__spacer" src="{{ asset('img/numbers/numbers-sprite.jpg') }}">
                            <img class="number__spacer" src="{{ asset('img/numbers/numbers-sprite.jpg') }}">
                            <img class="number__spacer" src="{{ asset('img/numbers/numbers-sprite.jpg') }}">
                            <img class="number__spacer" src="{{ asset('img/numbers/numbers-sprite.jpg') }}">
                            <img class="number__spacer" src="{{ asset('img/numbers/numbers-sprite.jpg') }}">
                        </div>
                    </div>
                    <div class="stats__comment__minutes">
                        {{ 'min.'|trans }}
                    </div>
                    <div class="stats__comment">
                        {{ 'Average delivery time per order.'|trans }}
                    </div>
                    <img class="b-lazy stats__dish" data-src="/img/dish.png" alt="" src="" />
                </div>
            </div>
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            {{ 'We’re in your city!'|trans }}
        </div>
        <div class="titles__subtitle">
            {{ 'Find your local favourites'|trans }}
        </div>
    </div>
    <section class="home-section cities">
        <div class="cities__container">
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'Berlin'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>
                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/berlin.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/berlin_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'Frankfurt'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>

                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/frankfurt.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/frankfurt_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'Hamburg'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>
                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/hamburg.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/hamburg_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'München'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>
                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/munchen.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/munchen_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'Düsseldorf'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>
                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/dusseldorf.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/dusseldorf_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
            <div class="city">
                <div class="city__container">
                    <div class="city__name">
                        <div>{{ 'Köln'|trans }}</div>
                        <a href="{{ path('city', {'id': 2}) }}" class="button city__called-action">{{ 'Browse restaurants'|trans }}</a>
                    </div>
                    <div class="flipper city__flipper">
                        <figure class="flipper__front b-lazy" data-src="{{ asset('img/cities/koln.jpg') }}"></figure>
                        <figure class="flipper__back b-lazy" data-src="{{ asset('img/cities/koln_food.jpg') }}"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div style="text-align: center">
        {% for city in cities %}
            <a href="{{ path('city', {'id': city.id}) }}">{{ city.name|e }}</a>
        {% endfor %}
    </div>
{% endblock %}
