{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block title %}{{ cms('seo.title.homepage') }}{% endblock %}
{% block gtm_page_type %}Home{% endblock %}
{% block body_class %}home{% endblock %}

{% block head_meta_seo %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ cms('seo.description.home_page') }}">
{% endblock %}

{% block content %}
    <section class="home__teaser fullWindowHeight b-lazy"
         data-src="{{ asset('img/homepage/teaser_2400.jpg') }}"
         data-src-bp_1400="{{ asset('img/homepage/teaser_2800.jpg') }}"
         data-src-bp_biggest="{{ asset('img/homepage/teaser_4000.jpg') }}">
        <div class="home__teaser__slogan">
            <h2 class="home__teaser__slogan-text">{{ 'general.slogan'|trans }}</h2>
        </div>
        <form class="home__teaser__form" id="delivery-information-postal-index-form" method="GET">
            <div class="home__teaser__form-input-wrapper">
                <input type="text" class="home__teaser__form-input"
                       id="delivery-information-postal-index"
                       value="{{ postalCode|default('') }}"
                       placeholder="{% trans %}postal_code.your_postal_code{% endtrans %}"
                       data-msg_error_not_found="{% trans %}postal_code.not_found{% endtrans %}"
                       data-msg_you_probably_mean="{% trans %}postal_code.you_probably_mean{% endtrans %}"
                       data-msg_error_empty="{% trans %}postal_code.empty{% endtrans %}"
                       >
            </div>
            <input class="home__teaser__button button button--inline"
                   type="submit"
                   value="{{ 'buttons.find_food'|trans }}"
                   data-gtm-cta="findRestaurant_main"
            >
        </form>
    </section>

    <div class="home__titles">
        <div class="home__titles__main-title">
            {{ 'title.only_the_best'|trans }}
        </div>
        <div class="home__titles__subtitle">
            {{ 'title.carefully_selected'|trans }}
        </div>
    </div>
    <section class="home__restaurants">
        {{ cms('homepage-restaurants') }}
    </section>

    <div class="home__titles">
        <div class="home__titles__main-title">
            {{ 'title.no_long_wait'|trans }}
        </div>
        <div class="home__titles__subtitle">
            {{ 'title.get_your_meals_fast'|trans }}
        </div>
    </div>
    <section class="home__stats">
        <div class="home__stats__container">
            <div class="home__stats__content" >
                <img class="home__stats__fork-knife b-lazy" alt="" data-src="{{ asset('img/fork-knife.png') }}"  src="{{ blazy_placeholder }}" />
                <div class="home__stats__numbers">
                    <div class="home__stats__first-number">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number6"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number5"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number4"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number3"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number2"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                            <div class="numbers__sprite number1"></div>
                        </div>
                    </div>
                    <div class="home__stats__second-number">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number0"></div>
                            {% if "au" == country_code %}
                                {% set numbersSpriteName = 'numbers-sprite-au.jpg' %}
                            {% else %}
                                {% set numbersSpriteName = 'numbers-sprite.jpg' %}
                            {% endif %}
                            <img class="number__spacer b-lazy" alt="" data-src="{{ asset('img/numbers/' ~ numbersSpriteName) }}" src="{{ blazy_placeholder }}">
                            <img class="number__spacer b-lazy" alt="" data-src="{{ asset('img/numbers/' ~ numbersSpriteName) }}" src="{{ blazy_placeholder }}">
                            <img class="number__spacer b-lazy" alt="" data-src="{{ asset('img/numbers/' ~ numbersSpriteName) }}" src="{{ blazy_placeholder }}">
                            <img class="number__spacer b-lazy" alt="" data-src="{{ asset('img/numbers/' ~ numbersSpriteName) }}" src="{{ blazy_placeholder }}">
                        </div>
                    </div>
                    <div class="home__stats__comment-minutes">
                        {{ 'minutes'|trans }}
                    </div>
                    <div class="home__stats__comment">
                        {{ 'average_time_per_order'|trans }}
                    </div>
                    <img class="home__stats__dish" alt=""  src="{{ asset('img/dish.png') }}" />
                </div>
            </div>
        </div>
    </section>

    <div class="home__titles">
        <div class="home__titles__main-title">
            {{ 'title.were_in_your_city'|trans }}
        </div>
        <div class="home__titles__subtitle">
            {{ 'title.find_your_favorites'|trans }}
        </div>
    </div>
    <section class="home__cities">
        <div class="home__cities__container">
            {{ cms('homepage-cities') }}
        </div>
    </section>
    {#TODO app - show app info when app is available #}
    {#<div class="home__titles">#}
        {#<div class="home__titles__main-title">#}
            {#{{ 'title.take_volo_where_you_go'|trans }}#}
        {#</div>#}
        {#<div class="home__titles__subtitle">#}
            {#{{ 'title.download_free_app'|trans }}#}
        {#</div>#}
    {#</div>#}
    {#<section class="home__app">#}
        {#{% include('VoloFrontendBundle:Home/Partial:app-section.html.twig') %}#}
    {#</section>#}
{% endblock %}
