{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}

{% block content %}
    <div class="teaser b-lazy"
         data-src="{{ asset("img/homepage/teaser_2400.jpg") }}"
         data-src-1400="{{ asset("img/homepage/teaser_2800.jpg") }}"
         data-src-biggest="{{ asset("img/homepage/teaser_4000.jpg") }}">

        <div class="teaser__slogan">
            <h2>Essen der besten Restaurants, <br />blitzschnell zu Ihnen nach Hause oder ins Büro.</h2>
        </div>
        <form class="teaser__form" id="postal_index_form" action="/search" method="POST">
            <input type="text" class="teaser__form__input" name="formatted_address" autofocus="" placeholder="{{ 'home.postal_code'|trans }}">
            <input type="hidden" name="lat">
            <input type="hidden" name="lng">
            <button class="button primary" type="submit">{{ 'home.buttons_find_food'|trans }}</button>
        </form>
        <div class="teaser__gradient"></div>
    </div>

    <div class="titles">
        <div class="titles__title">
            Only the best.
        </div>
        <div class="titles__subtitle">
            Carefully selected.
        </div>
    </div>
    <section class="restaurants-logos">

        <div class="logos-container">
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo01.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo02.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo03.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo04.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo05.png">
            </div>
            <div class="restaurants-logos__logo">
                <img src="../../img/logos/logo01.png">
            </div>
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            Always hot.
        </div>
        <div class="titles__subtitle">
            Get your meals fast.
        </div>
    </div>
    <section class="stats">
        <div class="stats__container">
            <div class="stats__content" >
                <img id="stats__fork-knife" alt="" src="/img/fork-knife.png" />
                <div class="stats__numbers">
                    <div class="stats__numbers__first">
                        <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number6">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number5">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number4">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number3">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number2">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <div class="numbers__sprite number1">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                        </div>
                    </div>
                    <div class="stats__numbers__second">
                        <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                        <div class="numbers__scroller">
                            <div class="numbers__sprite number0">
                                <img class="number__spacer" src="../../img/numbers/number-spacer.png">
                            </div>
                            <img class="number__spacer" src="../../img/numbers/numbers-sprite.jpg">
                            <img class="number__spacer" src="../../img/numbers/numbers-sprite.jpg">
                            <img class="number__spacer" src="../../img/numbers/numbers-sprite.jpg">
                            <img class="number__spacer" src="../../img/numbers/numbers-sprite.jpg">
                            <img class="number__spacer" src="../../img/numbers/numbers-sprite.jpg">
                        </div>
                    </div>
                    <div class="stats__comment__minutes">
                        min.
                    </div>
                    <div class="stats__comment">
                        Average delivery time <br/>per order.
                    </div>
                    <img id="stats__dish" class="b-lazy" data-src="/img/dish.png" alt="" src="/img/placeholder_15x15.png" />
                </div>
            </div>
        </div>
    </section>

    <div class="titles">
        <div class="titles__title">
            Straight to your dining table.
        </div>
        <div class="titles__subtitle">
            tell us where you are.
        </div>
    </div>
    <section class="cities">
        <div class="cities__container">
            <a href="/city/2" class="city">
                <div class="city__title">
                    Berlin
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/berlin.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/berlin_food.jpg"></figure>
                </div>
            </a>
            <a href="/city/2" class="city">
                <div class="city__title">
                    Frankfurt
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/frankfurt.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/frankfurt_food.jpg"></figure>
                </div>
            </a>
            <a href="/city/2" class="city">
                <div class="city__title">
                    Köln
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/hamburg.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/hamburg_food.jpg"></figure>
                </div>
            </a>
            <a href="/city/2" class="city">
                <div class="city__title">
                    München
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/munchen.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/munchen_food.jpg"></figure>
                </div>
            </a>
            <a href="/city/2" class="city">
                <div class="city__title">
                    Düsseldorf
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/dusseldorf.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/dusseldorf_food.jpg"></figure>
                </div>
            </a>
            <a href="#" class="city">
                <div class="city__title">
                    Köln
                </div>
                <img src="/img/cities/cities-spacer.png" />
                <div class="flipper">
                    <figure class="front b-lazy" data-src="/img/cities/koln.jpg"></figure>
                    <figure class="back b-lazy" data-src="/img/cities/koln_food.jpg"></figure>
                </div>
            </a>
        </div>
    </section>


    <div style="text-align: center">
        {% for city in cities %}
            <a href="{{ path('city', {'id': city.id}) }}">{{ city.name|e }}</a>
        {% endfor %}

        <a href="{{ path('checkout', {vendorCode: 'random'}) }}">Checkout</a>
    </div>



{% endblock %}
