{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}
{% use 'VoloFrontendBundle:Location:Partial/vendor_description.html.twig' %}
{% block body_class %}restaurant-list{% endblock %}
{% block content %}
    <div class="hero-banner-wrapper">
        <h1>{{ 'address.promo %city%'|trans({'%city%': formattedLocation['city']})|nl2br }}</h1>
        {% include 'VoloFrontendBundle:Layout/ImageTag:thumbor_image.html.twig' with {vendorCode : 'list', type: 'hero'} %}
    </div>
    <div class="wrapper-fluid">
        <div class="restaurants">
            <div class="restaurants__tool-box">
                <div class="restaurants__location">
                    <input
                            id="postal_index_form_input"
                            type="text"
                            class="form-control hide"
                            name="location_set"
                            value=""
                            placeholder="{% trans %}postal_code.your_postal_code{% endtrans %}"
                            data-msg_error_not_found="{% trans %}postal_code.not_found{% endtrans %}"
                            data-msg_you_probably_mean="{% trans %}postal_code.you_probably_mean{% endtrans %}"
                            required="true"
                    >

                    <div class="restaurants__location__title">
                        <span>
                            {% if gpsSearch %}
                                {{ 'address.delivery_by_gps %address%'|trans({
                                    '%address%': formattedLocation['address']
                                }) }}
                            {% else %}
                                {{ 'address.delivery_by_city %city%'|trans({
                                    '%city%': formattedLocation['city']
                                }) }}
                            {% endif %}
                        </span>
                        <a id="change_user_location_box_button">{{ 'buttons.change'|trans }}</a>
                    </div>
                </div>
            </div>
            {% for vendor in openVendors %}
                {{ block('vendor_description') }}
            {% endfor %}
        </div>
        <div class="restaurants restaurants--closed">
            {% for vendor in closedVendors %}
                {{ block('vendor_description') }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
