{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}
{% use 'VoloFrontendBundle:Location:Partial/vendor_description.html.twig' %}

{% set promoAddress = formattedLocation.city == '-' ? formattedLocation.postcode : formattedLocation.city  %}
{% block title %}
    {% if gpsSearch %}
        {{ cms('seo.title.vendor_listing_page') | replace({'{city}': formattedLocation.city, '{zipcode}': formattedLocation.postcode}) }}
    {% else %}
        {{ cms('seo.title.city_page') | replace({'{city}': city.name}) }}
    {% endif %}
{% endblock %}
{% block body_class %}restaurants{% endblock %}
{% block gtm_page_type %}Restaurant List Page{% endblock %}
{% block google_tag_manager_before %}
<script type="text/javascript" data-turbolinks-eval=always>
    $(document).ready(function() {
        dataLayer.push({
            'totalRestaurants': {{ vendors.count() }},
            'openRestaurants': {{ openVendors.count() }}
        });
        dataLayer.push({
            'event': 'enterZipcode',
            'zipcode': '{{ formattedLocation['postcode'] }}',
            'city': '{{ formattedLocation['city'] }}',
            'referrer': VOLO.tagManager.referrer,
            'serviceArea': '{% if (openVendors.count() > 0) or (closedVendors.count() > 0) %}True{% else %}False{% endif %}'
        });
    });
</script>
{% endblock %}

{% block head_meta_seo %}
    {% if gpsSearch %}
        <meta name="description" content="{{ cms('seo.description.vendor_listing_page') | replace({'{city}': formattedLocation.city, '{zipcode}': formattedLocation.postcode}) }}">
    {% else %}
        <meta name="description" content="{{ cms('seo.description.city_page') | replace({'{city}': city.name}) }}">
    {% endif %}
    <meta name="robots" content="{{ app.request.query | length > 0  or gpsSearch ? 'noindex' : 'index' }}, follow">

    {% if city is not null %}
        <meta property="og:image" content="https://volo-images.s3.amazonaws.com/production/{{ country_code }}/city-{{ city.id }}.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="500" />
        <link rel="canonical" href="{{ url('volo_location_search_vendors_by_city', {cityUrlKey: city.urlKey}) }}" />
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}

    <script data-turbolinks-eval=always>
        var VOLO = VOLO || {};
        VOLO.jsonLocation = {{ location|to_escaped_json }};
    </script>
{% endblock %}

{% block content %}
    <div class="hero-banner-wrapper">
        {% include 'VoloFrontendBundle:Layout/ImageTag:thumbor_image_background.html.twig' with {vendorCode : 'list', type: 'hero', 'aspectRatioClass' : 'aspect-ratio-40-11'} %}
        <h1>{{ 'address.promo %city%'|trans({'%city%': promoAddress})|nl2br }}</h1>
    </div>
    <div class="restaurants-container wrapper-fluid">
        <div class="restaurants__tool-box">
            <div class="restaurants__location">
                <form id="delivery-information-postal-index-form" method="GET">
                    <input
                            id="delivery-information-postal-index"
                            type="text"
                            class="restaurants__location__input form-control hide"
                            name="location_set"
                            value=""
                            placeholder="{% trans %}postal_code.your_postal_code{% endtrans %}"
                            data-msg_error_not_found="{% trans %}postal_code.not_found{% endtrans %}"
                            data-msg_you_probably_mean="{% trans %}postal_code.you_probably_mean{% endtrans %}"
                            required="true"
                    >
                </form>

                <div class="restaurants__location__title">
                    <span class="restaurants__location__address">
                        {% if gpsSearch and (address_config.autocomplete_type|first == '(regions)') %}
                            {{ 'address.delivery_by_gps %address%'|trans({
                                '%address%': formattedLocation['address']
                            }) }}
                        {% elseif gpsSearch %}
                            {{ 'address.delivery_by_gps %address%'|trans({
                                '%address%': formattedLocation['delivery_address']
                            }) }}
                        {% else %}
                            {{ 'address.delivery_by_city %city%'|trans({
                                '%city%': formattedLocation['city']
                            }) }}
                        {% endif %}
                    </span>
                    <a class="restaurants__location__change-button" id="change_user_location_box_button">
                        <span class="restaurants__change-button__text">{{ 'buttons.change'|trans }}</span>
                        <span class="restaurants__change-button__arrow icon-down-open-big"></span>
                    </a>
                </div>
            </div>
        </div>
        {% if openVendors.count() == 0 and closedVendors.count() == 0 %}
            <div class="restaurants__not-available-message">
                <div class="restaurants__not-available-message__title">{% trans %}restaurant.not_available.title{% endtrans %}</div>
                <div class="restaurants__not-available-message__text">{% trans %}restaurants.not_available{% endtrans %}</div>
            </div>
        {% else %}
            <div class="restaurants__list">
                {% set vendorsCounter = 0 %}
                {% for vendor in openVendors %}
                    {% set vendorsCounter = vendorsCounter + 1 %}
                    {% set vendorIsOpen = 'open' %}
                    {{ block('vendor_description') }}
                {% endfor %}
            </div>
            <div class="restaurants__list restaurants__list--closed">
                {% for vendor in closedVendors %}
                    {% set vendorsCounter = vendorsCounter + 1 %}
                    {% set vendorIsOpen = 'closed' %}
                    {{ block('vendor_description') }}
                {% endfor %}
            </div>
        {% endif %}
        {% set citySeoText = cms('city-description' ~ (city is null ? '' : '-' ~ city.id), 'city-description') %}
        {% if citySeoText is not empty %}
            <div class="restaurants__city-bottom-info">
                <div class="restaurants__city-bottom-info__description">
                    {{ citySeoText|raw }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block footer_bottom %}
    <div class="footer__wrapper__bottom">
        {{ cms('footer-restaurant-list' ~ (city is null ? '' : '-' ~ city.id), 'footer-restaurant-list') }}
    </div>
{% endblock %}
