{% extends 'VoloFrontendBundle:Layout:page.html.twig' %}
{% use 'VoloFrontendBundle:Location:Partial/vendor_description.html.twig' %}

{% set promoAddress = formattedLocation.city == '-' ? formattedLocation.postcode : formattedLocation.city  %}
{% block title %}
    {% if gpsSearch %}
        {{ cms('seo.title.vendor_listing_page') | replace({'{city}': formattedLocation.city, '{zipcode}': formattedLocation.postcode}) }}
    {% else %}
        {{ cms('seo.title.city_page') | replace({'{city}': city.name}) }}
    {% endif %}
{% endblock %}
{% block body_class %}restaurants {% if not gpsSearch %}restaurants--no-address{% endif %}{% endblock %}
{% block gtm_page_type %}Restaurant List Page{% endblock %}
{% block google_tag_manager_before %}
<script type="text/javascript" data-turbolinks-eval=always>
    dataLayer.push({
        'totalRestaurants': {{ vendors.count() }},
        'openRestaurants': {{ openVendors.count() }}
    });
    dataLayer.push({
        'event': 'enterZipcode',
        'zipcode': '{{ formattedLocation['postcode'] }}',
        'city': '{{ formattedLocation['city'] }}',
        'referrer': VOLO.tagManager.referrer,
        'serviceArea': '{% if (openVendors.count() > 0) or (closedVendors.count() > 0) %}True{% else %}False{% endif %}'
    });
</script>
{% endblock %}

{% block head_meta_seo %}
    {% if gpsSearch %}
        <meta name="description" content="{{ cms('seo.description.vendor_listing_page') | replace({'{city}': formattedLocation.city, '{zipcode}': formattedLocation.postcode}) }}">
    {% else %}
        <meta name="description" content="{{ cms('seo.description.city_page') | replace({'{city}': city.name}) }}">
    {% endif %}
    <meta name="robots" content="{{ app.request.query | length > 0  or gpsSearch ? 'noindex' : 'index' }}, follow">

    {% if city is not null %}
        <meta property="og:image" content="https://volo-images.s3.amazonaws.com/production/{{ country_code }}/city-{{ city.id }}.jpg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="500" />
        <link rel="canonical" href="{{ url('volo_location_search_vendors_by_city', {cityUrlKey: city.urlKey}) }}" />
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}

    <script data-turbolinks-eval=always>
        var VOLO = VOLO || {};
        VOLO.jsonLocation = {{ location|to_escaped_json }};
    </script>
{% endblock %}

{% block content %}
    <div class="hero-banner-wrapper">
        <div class="hero-banner-content">
            {% include 'VoloFrontendBundle:Layout/ImageTag:thumbor_image_background.html.twig' with {vendorCode : 'list', type: 'hero', 'aspectRatioClass' : 'aspect-ratio-40-11'} %}
            <h1>{{ 'address.promo %city%'|trans({'%city%': promoAddress})|nl2br }}</h1>
        </div>
        {% if not gpsSearch %}
            <div class="restaurants__search-bar">
                <div class="restaurants__search-bar__message">{% trans %}restaurants_search.show_restaurants_delivering_to{% endtrans %}</div>
                <div class="restaurants__search-bar__form">
                    {% include('VoloFrontendBundle:Search/Partial:restaurants_search_form.html.twig') with {'buttonText': 'buttons.find_food'|trans } %}
                </div>
            </div>
        {% endif %}
    </div>
    <form class="" id="form-filters">
        {% for filter in filters %}
            <div class="form-group checkout__step__item-form-group--newsletter sprite-form">
                <input type="checkbox"
                       style="-webkit-transition: checkbox;
                             -webkit-appearance: checkbox;
                             -moz-appearance: checkbox;
                             appearance: checkbox;
                             width: 13px;
                             height: 13px;
                             "
                       value="{{ filter.id }}" name="filter-{{ filter.id }}" id="filter-{{ filter.id }}">
                <label class="sprite-form__label" for="filter-{{ filter.id }}">
                    {{ filter.name }} - {{ filter.id }}
                </label>
            </div>
            {#<input type="checkbox" name="cuisines" value="{{ filter.id }}" />{{ filter.name }}#}
        {% endfor %}
        <button type="button" class="btn btn-primary" id="button-filter">Filter</button>
    </form>
    <div class="restaurants-container wrapper-fluid">
        {% if gpsSearch %}
            <div class="restaurants__tool-box">
                {% if openVendors.count() > 0 or closedVendors.count() > 0 %}
                    <div class="restaurants__search-filter-wrapper">
                        <div class="restaurants__search">
                            <i class="icon-cancel restaurants__search__cancel-icon"></i>
                            <span class="restaurants__search__label">
                                <i class="icon-search restaurants__search__label-icon"></i>
                                <span class="restaurants__search__label-text">{% trans %}restaurants_search.button_label{% endtrans %}</span>
                            </span>
                            <input type="text" class="restaurants__search__input form-control" placeholder="{% trans %}restaurants_search.input_label{% endtrans %}" />
                        </div>
                    </div>
                {% endif %}
                <div class="restaurants__location">
                    <form id="delivery-information-postal-index-form" class="restaurants__location__form hide" method="GET">
                        <i class="icon-cancel restaurants__location__cancel-icon"></i>
                        <input
                                id="delivery-information-postal-index"
                                type="text"
                                class="restaurants__location__input form-control"
                                name="location_set"
                                value=""
                                placeholder="{% trans %}postal_code.your_postal_code{% endtrans %}"
                                data-msg_error_not_found="{% trans %}postal_code.not_found{% endtrans %}"
                                data-msg_you_probably_mean="{% trans %}postal_code.you_probably_mean{% endtrans %}"
                                required="true"
                        >
                    </form>
    
                    <div class="restaurants__location__title">
                        <span class="restaurants__location__address">
                            {% if gpsSearch and (address_config.autocomplete_type|first == '(regions)') %}
                                {{ 'address.delivery_by_gps %address%'|trans({
                                    '%address%': formattedLocation['address']
                                }) }}
                            {% elseif gpsSearch %}
                                {{ 'address.delivery_by_gps %address%'|trans({
                                    '%address%': formattedLocation['delivery_address']
                                }) }}
                            {% else %}
                                {{ 'address.delivery_by_city %city%'|trans({
                                    '%city%': formattedLocation['city']
                                }) }}
                            {% endif %}
                        </span>
                        <a class="restaurants__location__change-button" id="change_user_location_box_button">
                            <span class="restaurants__change-button__text">{{ 'buttons.change'|trans }}</span>
                            <span class="restaurants__change-button__arrow icon-down-open-big"></span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if openVendors.count() == 0 and closedVendors.count() == 0 %}
            <div class="restaurants__not-available-message">
                <div class="restaurants__not-available-message__title">{% trans %}restaurant.not_available.title{% endtrans %}</div>
                <div class="restaurants__not-available-message__text">{% trans %}restaurants.not_available{% endtrans %}</div>
            </div>
        {% else %}
            <div class="restaurants__list">
                {% set vendorsCounter = 0 %}
                {% for vendor in openVendors %}
                    {% set vendorsCounter = vendorsCounter + 1 %}
                    {% set vendorIsOpen = 'open' %}
                    {{ block('vendor_description') }}
                {% endfor %}
                <div class="restaurants__search__not-found-message hide">
                    <div class="restaurants__not-available-message__title">{% trans %}restaurant.search.not_found.title{% endtrans %}</div>
                    <div class="restaurants__not-available-message__text">{% trans %}restaurants.search.not_found.text{% endtrans %}</div>
                </div>
            </div>
            <div class="restaurants__list restaurants__list--closed">
                {% for vendor in closedVendors %}
                    {% set vendorsCounter = vendorsCounter + 1 %}
                    {% set vendorIsOpen = 'closed' %}
                    {{ block('vendor_description') }}
                {% endfor %}
            </div>
        {% endif %}
        {% set citySeoText = cms('city-description' ~ (city is null ? '' : '-' ~ city.id), 'city-description') %}
        {% if citySeoText is not empty %}
            <div class="restaurants__city-bottom-info">
                <div class="restaurants__city-bottom-info__description">
                    {{ citySeoText|raw }}
                </div>
            </div>
        {% endif %}
    </div>

    <script type="text/template" id="template-restaurant-details">
        <a href="<%= Routing.generate('vendor', {code: code, urlKey: url_key}) %>">
            <div class="restaurants__list__item"
                 data-name="<%= name %>"
                 data-code="<%= code %>"
                 data-variant="true"
                 data-position="0">
                <div class="restaurants__list__item-wrapper">
                    <div class="restaurants__list__item-image-wrapper">
                        <div class="restaurants__list__item-preorder">
                            <i class="restaurants__list__item-preorder-icon icon-preorder"></i>
                            <span class="restaurants__list__item-preorder-label">{% trans %}vendor_closed_preorder_available{% endtrans %}</span>
                        </div>
                        {% set imageUrl = asset('nb0o-listing.jpg', 'cdn_s3') %}
                        <div class="b-lazy restaurants__list__item-image aspect-ratio-100-52"
                             src="{{ blazy_placeholder }}"
                             data-src="{{ thumbor(imageUrl, '500' )}}|{{ thumbor(imageUrl, '500_retina' )}}">
                        </div>
                    </div>
                    <h3 class="restaurants__list__item-name">
                        <%= name %>
                    </h3>
                    <h4 class="restaurants__list__item-description"><%= description %></h4>
                    <div class="restaurants__list__item-time">
                        <i class="icon-clock-o"></i>
                        {#{% if (vendor.metadata.availableIn is not null) %}#}
                            {#{% set availableIn = date(vendor.metadata.availableIn, vendor.metadata.timezone) %}#}
                            {#{% if (availableIn|date('d-m-Y') == 'now'|date('d-m-Y')) %}#}
                                {#{% trans with {'%time%': availableIn|formatTime} %}restaurant.open_at_time{% endtrans %}#}
                            {#{% else %}#}
                                {#{% trans with {'%time%': availableIn|formatTime, '%day%': availableIn|localisedDay} %}#}
                                {#restaurant.open_at_day_time#}
                                {#{% endtrans %}#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    </div>
                </div>
            </div>
        </a>
    </script>
{% endblock %}

{% block footer_bottom %}
    <div class="footer__wrapper__bottom">
        {{ cms('footer-restaurant-list' ~ (city is null ? '' : '-' ~ city.id), 'footer-restaurant-list') }}
    </div>
{% endblock %}
